@model ChessApp.Models.Chess.Game

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhitePlayerID)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlackPlayerID)
        </dd>
    </dl>
</div>
<!--
    <a asp-action="Edit" asp-route-id="@Model.GameID">Edit</a> |
-->
<div class="container-fluid p-0">
    <!--Modals-->
    <!--Offer a draw-->
    <partial name="OfferADraw" />
    <!--Resign-->
    <partial name="Resign" />
    <!--Accept or deny a draw-->
    <partial name="AcceptorDenyADraw" />
    <!--Checkmate-->
    <partial name="Checkmate" />
    <!--Draw-->
    <partial name="Draw" />
    <div class="row no-gutters">
        <!--big screens-->
        <div class="players-area col p-2 container-fluid d-none d-xl-block">
            <div class="row no-gutters flex-column h-100">
                <div class="player-two-area col d-flex flex-column justify-content-between align-items-center">
                    <div class="player-two-avatar-area m-4 mb-5 mt-5 d-flex align-items-center">
                        <div class="player-img black rounded d-inline-block"></div>
                        <p class="m-4" style="font-weight:600;"> @Html.DisplayFor(model => model.BlackPlayerID)</p>
                    </div>
                    <div class="clock player-two-clock rounded"><span>00:00</span></div>
                </div>
                <div class="player-one-area col d-flex flex-column justify-content-between align-items-center">
                    <div class="clock player-one-clock rounded"><span>00:00</span></div>
                    <div class="player-one-avatar-area m-4 mb-5 mt-5 d-flex align-items-center">
                        <div class="player-img white rounded d-inline-block"></div>
                        <p class="m-4" style="font-weight:600;"> @Html.DisplayFor(model => model.WhitePlayerID)</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- small screens-->
        <div class="player-two-area-sm col-12 d-xl-none pt-2 pb-2 pl-3 pr-3 container-fluid d-flex justify-content-between">
            <div class="row flex-column">
                <div class="col d-flex">
                    <div class="player-img black rounded d-inline-block" style="width:40px;height:40px;"></div>
                    <p class="ml-2" style="font-weight:600;"> @Html.DisplayFor(model => model.BlackPlayerID)</p>
                </div>
            </div>
            <div class="clock player-two-clock rounded"><span>00:00</span></div>
        </div>
        <!--board-->
        <div id="board-1" class="col-10 col-xl-12 container-fluid p-0 board">
            <svg viewBox="0 0 100 100" class="coords">
                <text x="0.75" y="3.5" font-size="2.8" class="coord-light">8</text>
                <text x="0.75" y="15.75" font-size="2.8" class="coord-dark">7</text>
                <text x="0.75" y="28.25" font-size="2.8" class="coord-light">6</text>
                <text x="0.75" y="40.75" font-size="2.8" class="coord-dark">5</text>
                <text x="0.75" y="53.25" font-size="2.8" class="coord-light">4</text>
                <text x="0.75" y="65.75" font-size="2.8" class="coord-dark">3</text>
                <text x="0.75" y="78.25" font-size="2.8" class="coord-light">2</text>
                <text x="0.75" y="90.75" font-size="2.8" class="coord-dark">1</text>
                <text x="10" y="99" font-size="2.8" class="coord-dark">a</text>
                <text x="22.5" y="99" font-size="2.8" class="coord-light">b</text>
                <text x="35" y="99" font-size="2.8" class="coord-dark">c</text>
                <text x="47.5" y="99" font-size="2.8" class="coord-light">d</text>
                <text x="60" y="99" font-size="2.8" class="coord-dark">e</text>
                <text x="72.5" y="99" font-size="2.8" class="coord-light">f</text>
                <text x="85" y="99" font-size="2.8" class="coord-dark">g</text>
                <text x="97.5" y="99" font-size="2.8" class="coord-light">h</text>
            </svg>
            <!-- to do: generete this code-->
            <!--Effects-->
            <!--
            <div class="square-h1 highlight"></div>
            <div class="square-g1 highlight"></div>
            <div class="square-a3 highlight-danger"></div>
            <div class="square-a4 highlight-danger"></div>
            <div class="square-a5 hover-square"></div>
            <div class="square-a6 hover-square"></div>

            <div id="a1" class="piece rw" draggable="true" onmousedown="mouseDownPiece()" onmouseup="mouseUpPiece()" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b1" class="piece nw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c1" class="piece bw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d1" class="piece qw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e1" class="piece kw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f1" class="piece bw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g1" class="piece nw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h1" class="piece rw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h2" class="piece pw" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div> To DO: 1. square is only draggable if has class "piece" 2. piece can be dropped only if move is possible-->
            <!--<div id="b3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c3" class="" ondragover="allowDrop(event)" ondrop="drop(event)"></div>-->
            <!--To DO: square that piece can move on to-->
            <!--<div id="d3" class="" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e3" class="" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h3" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h4" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h5" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h6" class="" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h7" class="piece pb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

            <div id="a8" class="piece rb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="b8" class="piece nb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="c8" class="piece bb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="d8" class="piece qb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="e8" class="piece kb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="f8" class="piece bb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="g8" class="piece nb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
            <div id="h8" class="piece rb" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)"></div>-->
            <!--Move Hints-->
            <!--<div class="square-a1 capture-hint"></div>
            <div class="square-a3 hint"></div>
            <div class="square-a4 hint"></div>-->
            <!--end generate to do-->
        </div>
        <!-- small screens-->
        <div class="player-one-area-sm col-12 d-xl-none pt-2 pb-2 pl-3 pr-3 container-fluid d-flex justify-content-between">
            <div class="row flex-column">
                <div class="col d-flex">
                    <div class="player-img white rounded d-inline-block" style="width:40px;height:40px;"></div>
                    <p class="ml-2" style="font-weight:600;"> @Html.DisplayFor(model => model.WhitePlayerID)</p>
                </div>
            </div>
            <div class="clock player-one-clock rounded"><span>00:00</span></div>
        </div>
        <!--buttons and moves-->
        <div class="buttons-and-moves-area col p-2 container-fluid">
            <div class="row no-gutters flex-column h-100">
                <div class="button-area col-auto d-flex flex-column justify-content-start align-items-center pb-2">
                    <button type="button" onclick="flipTheBoard()" class="btn btn-light border-secondary m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;">Flip the board <i class="fas fa-sync-alt"></i></button>
                    <button type="button" data-toggle="modal" data-target="#offerDraw" class="btn btn-primary m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;">Offer A Draw <i class="fas fa-question"></i> <i class="fas fa-handshake"></i></button>
                    <button type="button" data-toggle="modal" data-target="#resign" class="btn btn-secondary m-2 d-block" style="width: 180px; height: 40px; font-weight: 600;">Resign <i class="fas fa-flag"></i></button>
                </div>
                <div class="move-table-area col p-2 p-xl-5">
                    <div class="table-scrollable rounded">
                        <table class="table table-dark table-sm table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">move</th>
                                    <th scope="col"> @Html.DisplayFor(model => model.WhitePlayerID)</th>
                                    <th scope="col"> @Html.DisplayFor(model => model.BlackPlayerID)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1.</th>
                                    <td>e3</td>
                                    <td>e4</td>
                                </tr>
                                <tr>
                                    <th scope="row">2.</th>
                                    <td>e5</td>
                                    <td>d4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



