@model ChessApp.Models.Chess.Game

<div class="modal fade" id="resign" tabindex="-1" role="dialog" aria-labelledby="resignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title" id="resignModalLabel">Resign</h5>
            </div>
            <div class="modal-body">
                @if (Model.GameState.CurrentPlayer == ChessApp.Models.Chess.GameState.Sides.White)
                {
                    if (Model.FirstPlayerID == null)
                    {
                        <p>@Html.DisplayNameFor(model => model.FirstPlayerID) wants to <b>resign</b>?</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(model => model.FirstPlayerID) wants to <b>resign</b>?</p>
                    }

                }
                else
                {
                    if (Model.SecondPlayerID == null)
                    {
                        <p>@Html.DisplayNameFor(model => model.SecondPlayerID) wants to <b>resign</b>?</p>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(model => model.SecondPlayerID) wants to <b>resign</b>?</p>
                    }
                }
            </div>
            <div class="modal-body">
                <form asp-controller="GameState" asp-action="Edit" asp-route-id="@Model.GameID">
                    <input type="hidden" asp-for="GameState.GameID" />
                    <input type="hidden" asp-for="GameState.WhiteKingID" />
                    <input type="hidden" asp-for="GameState.BlackKingID" />
                    <input type="hidden" asp-for="GameState.WhitePawnThatCanBeTakenByEnPassantMoveID" />
                    <input type="hidden" asp-for="GameState.BlackPawnThatCanBeTakenByEnPassantMoveID" />
                    <input type="hidden" asp-for="GameState.CurrentPlayer" />
                    <input type="hidden" asp-for="GameState.WhiteKingIsInCheck" />
                    <input type="hidden" asp-for="GameState.BlackKingIsInCheck" />
                    <input type="hidden" asp-for="GameState.PlayersAgreedToADraw" />
                    <input type="hidden" asp-for="GameState.PlayerResigned" value="true" />
                    <input type="hidden" asp-for="GameState.PlayerOfferedADraw" />
                    <input type="hidden" asp-for="GameState.IsACheckmate" />
                    <input type="hidden" asp-for="GameState.IsAStalemate" />
                    <input type="hidden" asp-for="GameState.TimeFlag" />
                    <div class="form-group d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times" style="font-size: x-small; padding-right: 0.5rem;"></i>Close</button>
                        <button type="submit" class="btn btn-primary">Resign<i class="fas fa-flag" style="font-size: x-small; padding-left: 0.5rem;"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>